<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/svg+xml "access plus 1 year"
</IfModule>
RewriteEngine On
RewriteCond %{HTTP_HOST} ^ananay.netlify.app [NC]
<FilesMatch "^assets/css/.*">
    Deny from all
</FilesMatch>
RewriteCond %{REQUEST_URI} \.(css|jpg|jpeg|png|gif|webp|js|json|py)$ [NC]
RewriteRule ^ - [R=404,L]