[build]
  command = "npm run build"
  publish = "dist"

[dev]
  command = "vite"
  port = 8888
  targetPort = 3000
  publish = "dist"
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"