
<footer class="footer">
    <div class="left box">
        <h2>About Me</h2>
        <div class="footer-content">
            <p>I'm a dedicated Class 12 student passionate about
                coding and web development. With expertise in HTML,
                Python, CSS, and JavaScript, I aspire to excel as a
                front-end web developer. I'm actively engaged in
                diverse projects, regularly participating in coding
                challenges and online courses to enhance my skills.
                I've also contributed to coding competitions like
                Hacktoberfest and Technofair.</p>
            <div class="footer-f">
                <a href="https://youtube.com/c/spacify18"
                    class="fa fa-youtube"></a>
                <a
                    href="mailto:spacify1807@gmail.com?Subject=Hi%20there!"
                    class="fa fa-comments"></a>
                <a href="https://instagram.com/ananay_dubey"
                    class="fa fa-hashtag"></a>
                <a href="https://gitHub.com/fts18"
                    class="fa fa-github"></a>
                <a href="https://twitter.com/spacify18"
                    class="fa fa-twitter"></a>
            </div>
        </div>
    </div>
    <div class="center box">
        <h2>Connect</h2>
        <div class="footer-content">
            <div class="place">
                <a href="#"><span class="fa fa-map"></span>
                    <span class="location text">Kanpur, India</span></a>
            </div>
            <div class="phone">
                <a href="https://wa.me/9580711960"><span
                        class="fa fa-broadcast-tower"></span>
                    <span class="phone text">+91-9580711960</span></a>
            </div>
            <div class="email">
                <a
                    href="mailto:dubeyananay@gmail.com?Subject=Hi%20there!"
                    target="_self">
                    <span class="fa fa-at"></span>
                    <span class="email text">dubeyananay@gmail.com</span></a>
            </div>
        </div>
    </div>
    <div class="right box">
        <h2>Contact Me</h2>
        <div class="footer-content">
            <form onsubmit="return sendEmail();"
                action="https://formspree.io/f/mzbyyran"
                method="POST" enctype="multipart/form-data"
                accept-charset="utf-8">
                <div class="email">
                    <div class="text">Email<sup> (<sub>*</sub>)</sup>
                    </div>
                    <input autocomplete="off"
                        placeholder="Enter your email..."
                        type="email" name="_replyto" required>
                </div>
                <div class="msg">
                    <div class="text">Message<sup> (<sub>*</sub>)</sup>
                    </div>
                    <textarea maxlength="400" autocomplete="off"
                        name="upload" id="Emailtextarea" rows="2"
                        cols="25"
                        placeholder="Enter the message here..."
                        required></textarea>
                    <span id="counter-box" class="counter-box">
                        <span id="text-count">1
                        </span>/400
                    </span>
                </div>
                <div class="sendEmail">
                    <button type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</footer>
<div class="bottom">
    <center>
        <span class="credit">Created By <a href="https://github.com/fts18">Ananay&copy;</a> | <span id="year"></span> All Rights Reserved.</span>
    </center>
</div>