:root {
    --background-color: #080808;
    --text-color: #e7e7e7;
    --primary-color: #00ff73;
    --secondary-color: #111;
    --tertiary-color: #242424;
    --footer-color: #101010;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    top: 0;
    left: 0;
    width: 100%;
    background: var(--background-color);
    scroll-behavior: smooth;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 15px;
    color: var(--text-color);
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background: var(--secondary-color);
    width: 100vw;
    height: auto;
    position: relative;
}

body.disabledScroll {
    overflow: hidden;
}

main {
    width: 100%;
    position: absolute;
    top: 54vh;
    left: 0;
    background: var(--background-color);
    background: #090909;
    padding-top: 20px;
    margin: 0;
    z-index: 60;
}

c-nav {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Chivo Mono', monospace;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background: var(--secondary-color);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #eaee44, #33d0ff);
    opacity: 1;
    z-index: 5;
}

.swiper-slide img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 200vh;
    z-index: 6;
}

.slide {
    left: 300px;
}

.welcome-div {
    position: absolute;
    top: 50px;
    left: 0%;
    text-transform: uppercase;
    font-size: 20px;
    width: 100%;
    height: 65vh;
    font-weight: 900;
    z-index: 4;
    background: #000;
    overflow: hidden;
}

.welcome-div h1 {
    color: var(--text-color);
    font-size: 40px;
    position: fixed;
    top: 23vh;
    left: 50%;
    font-weight: 900;
    transform: translateX(-50%);
    text-align: center;
    z-index: 5;
    backdrop-filter: blur(40px);
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    transition: .5s ease;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    filter: invert(10%);
}

.welcome-div h1::selection {
    color: var(--text-color);
    background: rgba(255, 255, 255, 0.6);
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

footer {
    width: 100%;
    height: auto;
    color: var(--text-color);
    z-index: 20;
    padding-bottom: 0px;
    padding-top: 80px;
    position: absolute;
    top: 165vh;
    background: var(--tertiary-color);
}

.footer {
    position: relative;
    top: 0;
    padding: 40px 8%;
    background: var(--footer-color);
    margin: 0;
    display: flex;
    font-family: 'Space Grotesk', sans-serif;
    text-decoration: none;
    padding-bottom: 0px;
}

.footer .box {
    flex-basis: 33%;
    padding: 10px 20px;
    text-decoration: none;
}

.box h2 {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -2px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.box .footer-content {
    padding: 40px 0 0 0;
    position: relative;
}

.box .footer-content:before {
    position: absolute;
    content: '';
    height: 3px;
    background: transparent;
    top: -8px;
    width: 100%;
}

.box .footer-content:after {
    position: absolute;
    content: '';
    height: 0px;
    width: 30%;
    top: 12px;
    padding-bottom: 2px;
    background: var(--primary-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.left .footer-content p {
    text-align: left;
    font-size: 15px;
}

.left .footer-content .footer-f {
    margin: 25px 0 0 0;
}

.left .footer-content .footer-f a {
    padding: 0 2px;
    width: 35px;
    height: 35px;
    background: var(--tertiary-color);
    text-align: center;
    font-size: 20px;
    line-height: 35px;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
    -webkit-tap-highlight-color: transparent;
}

.left .footer-content .footer-f a:hover {
    color: var(--primary-color);
}

.center .footer-content a {
    -webkit-tap-highlight-color: transparent;
}

.place,
.phone {
    margin-bottom: 12px;
}

.center .footer-content .fa {
    font-size: 17px;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    background: var(--tertiary-color);
    transition: 0.275s ease-in-out;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.center .footer-content a:hover {
    color: var(--primary-color);
}

.center .footer-content .text {
    font-size: 15px;
    font-weight: 500;
    margin-left: 3px;
}

.right form .msg {
    margin-top: 20px;
}

.right form .text {
    margin-bottom: 2px;
    font-size: 20px;
    color: #999;
}

.right form input::placeholder,
.right form textarea::placeholder {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    letter-spacing: 1.02px;
    color: #888;
}

.right form input,
.right form textarea {
    width: 100%;
    background: var(--tertiary-color);
    font-size: 15px;
    padding-left: 7px;
    outline: none;
    border: 1px solid var(--secondary-color);
    border-radius: 1.5px;
    color: #888;
}

.bottom center {
    position: relative;
    top: 0;
    width: 100%;
    left: 0;
    color: var(--text-color);
    z-index: 5000;
    padding: 40px;
    border-top: .5px solid var(--secondary-color);
    background: var(--background-color);
}

.bottom center span {
    color: #757575;
    transition: .3s ease-in-out
}

.bottom center a {
    color: var(--primary-color);
    font-weight: 500;
    transition: .3s ease-in-out;
    -webkit-tap-highlight-color: transparent;
}

.bottom center span:hover {
    color: #f0f0f0;
}

.bottom center span a:hover {
    color: #777;
    font-weight: 700;
    font-size: 15.25px;
    letter-spacing: 1.005px;
}

.counter-box {
    padding-top: 4px;
    display: block;
    text-align: right;
    font-weight: 400;
    font-size: 12px;
}

.right form .text sub,
.right form .text sup {
    color: var(--text-color);
}

.right form input {
    height: 50px;
    font-size: 20px;
}

.right form textarea {
    height: auto;
    min-height: 100px;
    max-height: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-y: scroll;
    resize: none;
    font-size: 18px;
    overflow-x: hidden;
    border: 1px solid var(--secondary-color);
    border-radius: 1.5px;
    color: #888;
}

.right form .sendEmail {
    margin-top: 28px;
    margin-bottom: 0px;
}

.right form .sendEmail button {
    color: var(--text-color);
    text-align: center;
    border-radius: 0.75px;
    width: 100%;
    height: 50px;
    background: var(--primary-color);
    border: 0.5px solid var(--secondary-color);
    outline: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s ease-in-out;
    margin-bottom: 30px;
    -webkit-tap-highlight-color: transparent;
}

.right form .sendEmail button:hover {
    background: #444;
    border-width: 1px;
    letter-spacing: 1.4px;
    border-radius: 1.5px;
}

@media screen and (max-width:968px) {
    .footer {
        padding: 40px;
        flex-wrap: wrap;
        background: var(--tertiary-color);
        flex-direction: column;
        margin-bottom: 0;
    }

    main {
        position: absolute;
        top: 45vh;
        left: 0;
    }

    .welcome-div {
        position: fixed;
        top: 180px;
        left: 50%;
        height: 60vh;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }

    .welcome-div h1 {
        font-size: 30px;
        position: fixed;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

    }

}

@media screen and (max-width:700px) {
    .footer {
        padding: 60px 10px;
        flex-wrap: wrap;
        background: var(--footer-color);
        flex-direction: column;
        margin-bottom: 0;
    }
    .footer .box{
        margin-bottom: 30px;
    }
    .right form .sendEmail button {
        margin-bottom: 0px;
    }
}