* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    scroll-behavior: smooth;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 15px;
    color: #e7e7e7;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background: #121212;
    width: 100vw;
    height: auto;
    min-height: 200vh;
    position: relative;
}

body.disabledScroll {
    overflow: hidden;
}

main {
    height: 110vh;
    width: 100%;
    position: absolute;
    top: 53vh;
    left: 0;
    background: #080808;
    padding: 20px;
    padding-top: 20px;
    margin: 0;
    z-index: 60;
    padding-bottom: 100px;
}

c-nav {
    z-index: 10000;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Chivo Mono', monospace;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background: #121212;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #eaee44, #33d0ff);
    opacity: 1;
    z-index: 5;
}

.swiper-slide img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 200vh;
    z-index: 6;
}

.slide {
    left: 300px;
}

#btnAdd {
    position: fixed;
    top: 250px;
    left: 50%;
    z-index: 10000000;
    background: #fff;
    color: black;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    padding: 20px;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

.welcome-div {
    position: absolute;
    top: 50px;
    left: 0%;
    text-transform: uppercase;
    font-size: 20px;
    width: 100%;
    height: 65vh;
    font-weight: 900;
    z-index: 4;
    background: #000;
    overflow: hidden;
}

.welcome-div h1 {
    color: #e7e7e7;
    font-size: 40px;
    position: fixed;
    top: 25vh;
    left: 50%;
    font-weight: 900;
    transform: translateX(-50%);
    text-align: center;
    z-index: 5;
    backdrop-filter: blur(40px);
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    transition: .5s ease;
    /**background: url(../images/back.png);
    -webkit-text-stroke: 2px #e7e7e7;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 11s linear infinite;
    **/
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    filter: invert(10%);
}

.welcome-div h1::selection {
    color: #e7e7e7;
    background: rgba(255, 255, 255, 0.6);
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

@media only screen and (max-width: 968px) {
    /* For mobile phones: */
    .welcome-div {
        position: fixed;
        top: 180px;
        left: 50%;
        height: 60vh;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }
    .welcome-div h1 {
        font-size: 30px;
        position: fixed;
        top: 29.5vh;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    main {
        top: 48vh;
    }
}

footer {
    width: 100%;
    height: auto;
    color: #e7e7e7;
    z-index: 20;
    padding-bottom: 0px;
    padding-top: 80px;
    position: absolute;
    top: 165vh;
    background: #111;
}

.footer {
    padding: 40px;
    background: #111;
    margin-bottom: 0;
    bottom: 0;
    display: flex;
    font-family: 'Space Grotesk', sans-serif;
    text-decoration: none;
    padding-bottom: 0px;
}

.footer .box {
    flex-basis: 33%;
    padding: 10px 20px;
    text-decoration: none;
}

.box h2 {
    font-size: 30px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.box .footer-content {
    padding: 40px 0 0 0;
    position: relative;
}

.box .footer-content:before {
    position: absolute;
    content: '';
    height: 3px;
    background: transparent;
    top: -8px;
    width: 100%;
}

.box .footer-content:after {
    position: absolute;
    content: '';
    height: 0px;
    width: 25%;
    top: 10px;
    padding-bottom: 2px;
    background: #00ff73;
}

a {
    text-decoration: none;
    color: #e7e7e7;
}

.left .footer-content p {
    text-align: justify;
    font-size: 15px;
}

.left .footer-content .footer-f {
    margin: 25px 0 0 0;
}

.left .footer-content .footer-f a {
    padding: 0 2px;
    width: 35px;
    height: 35px;
    background: #222;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
    -webkit-tap-highlight-color: transparent;
}

.left .footer-content .footer-f a:hover {
    color: #00ff73;
}

.center .footer-content a {
    -webkit-tap-highlight-color: transparent;
}

.place,
.phone {
    margin-bottom: 12px;
}

.center .footer-content .fa {
    font-size: 17px;
    height: 35px;
    width: 35px;
    line-height: 42.5px;
    text-align: center;
    border-radius: 50%;
    background: #222;
    transition: 0.275s ease-in-out;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.center .footer-content a:hover {
    color: #00ff73;
}

.center .footer-content .text {
    font-size: 15px;
    font-weight: 500;
    margin-left: 3px;
}

.right form .msg {
    margin-top: 20px;
}

.right form .text {
    margin-bottom: 2px;
    font-size: 20px;
    color: #999;
}

.right form input::placeholder,
.right form textarea::placeholder {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    letter-spacing: 1.02px;
    color: #888;
}

.right form input,
.right form textarea {
    width: 100%;
    background: #252525;
    font-size: 15px;
    padding-left: 7px;
    outline: none;
    border: 1px solid #222;
    border-radius: 1.5px;
    color: #888;
}

.bottom center {
    position: relative;
    bottom: 0;
    width: 100%;
    left: 0;
    color: #e7e7e7;
    z-index: 5000;
    padding: 40px;
    border-top: .5px solid #222;
    background: #000;
}

.bottom center span {
    color: #757575;
    transition: .3s ease-in-out
}

.bottom center a {
    color: #00ff73;
    font-weight: 500;
    transition: .3s ease-in-out;
    -webkit-tap-highlight-color: transparent;
}

.bottom center span:hover {
    color: #f0f0f0;
}

.bottom center span a:hover {
    color: #777;
    font-weight: 700;
    font-size: 15.25px;
    letter-spacing: 1.005px;
}

.counter-box {
    padding-top: 4px;
    display: block;
    text-align: right;
    font-weight: 400;
    font-size: 12px;
}

.right form .text sub,
.right form .text sup {
    color: #e7e7e7;
}

.right form input {
    height: 50px;
    font-size: 20px;
}

.right form textarea {
    height: auto;
    min-height: 100px;
    max-height: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: scroll;
    resize: none;
    font-size: 18px;
}

.right form .sendEmail {
    margin-top: 28px;
    margin-bottom: 0px;
}

.right form .sendEmail button {
    color: #e7e7e7;
    text-align: center;
    border-radius: 0.75px;
    width: 100%;
    height: 50px;
    background: #00ff73;
    border: 0.5px solid #000;
    outline: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s ease-in-out;
    margin-bottom: 40px;
    -webkit-tap-highlight-color: transparent;
}

.right form .sendEmail button:hover {
    background: #444;
    border-width: 1px;
    letter-spacing: 1.4px;
    border-radius: 1.5px;
}

@media screen and (max-width:1000px) {
    footer {
        position: absolute;
        top: 200vh;
        background: #111;
    }
    .footer {
        padding: 40px;
        flex-wrap: wrap;
        background: #111;
        flex-direction: column;
        margin-bottom: 0;
    }
    main {
        height: 160vh;
    }
}

@media screen and (max-width:700px) {
    footer {
        position: absolute;
        top: 260vh;
        background: #111;
    }
    .footer {
        padding: 40px;
        flex-wrap: wrap;
        background: #111;
        flex-direction: column;
        margin-bottom: 0;
    }
    main {
        height: 220vh;
    }
}