.projects {
    position: absolute;
    top: 40px;
    left: 15%;
    padding: 60px;
    min-height: 100vh;
    width: 90%;
    transform: translate(-10%);
    -webkit-transform: translate(-10%);
    -moz-transform: translate(-10%);
    -ms-transform: translate(-10%);
    -o-transform: translate(-10%);
}

.column {
    float: left;
    width: 33.3%;
    padding: 0 10px;
    margin-bottom: 20px;
}

.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    padding: 0px;
    text-align: center;
    background-color: #252525;
    overflow: hidden;
    height: 40vh;
    max-height: 16rem;
    transition: .7s ease-in-out;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card img {
    width: 100%;
    height: 12.5rem;
    top: 50%;
    left: 50%;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.card:hover {
    border-radius: 4px;
    outline-offset: 3px;
    outline: 1.8px solid #e7e7e7;
}

.p-title {
    padding: 20px;
    text-align: left;
    padding-bottom: 40px;
}


/* Responsive columns - one column layout (vertical) on small screens */

@media screen and (max-width: 1000px) {
    .card {
        max-height: 280px;
    }
    .card img {
        height: 220px;
    }
}

@media screen and (max-width: 700px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    .projects {
        top: 20px;
    }
    .projects {
        position: absolute;
        top: 40px;
        left: 0%;
        padding: 80px;
        min-height: 100vh;
        width: 100%;
        transform: translate(0%);
        -webkit-transform: translate(0%);
        -moz-transform: translate(0%);
        -ms-transform: translate(0%);
        -o-transform: translate(0%);
    }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    .column {
        width: 50%;
        display: block;
        margin-bottom: 25px;
    }
    .projects {
        margin: 0;
        padding: 25px;
        padding-top: 80px;
    }
}